body {
  font-family: "Rubik", sans-serif;
  color: #222831;
}

h1 {
  font-size: 44px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 25px;
  border: 1px solid #222831;
  border-radius: 8px;
}

.temperature {
  font-size: 42px;
  font-weight: 400;
}

.weather-temperature .active {
  cursor: default;
  color: #8453a2;
  text-decoration: none;
}

.weather-temperature .units {
  font-size: medium;
  position: relative;
  top: -18px;
}

.extra-description {
  position: relative;
  left: 25%;
}

.open-source-code {
  text-decoration: none;
  color: #8453a2;
  transform: all 200ms ease-in-out;
}

.open-source-code:hover {
  color: #46066d;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
}

.forecast-date {
  font-size: 18px;
}

.forecast-description {
  font-size: 12px;
}

.forecast-temperatures {
  position: relative;
  bottom: -14px;
  font-size: 18px;
}

.min-temperature {
  opacity: 0.5;
}

#description {
  text-transform: capitalize;
}

#icon {
  position: relative;
  top: -6px;
  max-width: 80px;
}

#celsius {
  color: #8453a2;
}

#farenheit {
  color: #8453a2;
}
